# Postgres
POSTGRES_DB=eventsdb
POSTGRES_USER=eventsuser
POSTGRES_PASSWORD=eventspass

# Backend
BACKEND_PORT=3001
 # For local BE development (npm run start:dev) use "localhost:port" or for Docker (docker compose up -d db), use "db:port".
DATABASE_URL=postgresql://eventsuser:eventspass@db:5432/eventsdb
DATABASE_URL=postgresql://eventsuser:eventspass@localhost:5432/eventsdb

# Frontend
VITE_API_URL=http://localhost:5173